<div style="display: block;">
	<canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [colors]="chartColors2" [chartType]="pieChartType"
		[options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
	</canvas>
</div>

<div style="display: block;">
	<canvas baseChart [data]="chartData1" [labels]="chartLables1" [colors]="barchartColors2" [chartType]="barChartType"
		[options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend">
	</canvas>
</div>